@font-face {
    font-family: 'Segoe';
    src: url('../fonts/segoepr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, #Createur, #Creations{
    font-family: 'Segoe', sans-serif;
}

footer, #mainCreateur, #menu{
    background-color: #151515;
}

#menu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#menu.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

#menu:not(.hidden) {
    transform: translateY(0);
    opacity: 1;
}

.neomorphism {
    background: #151515;
    border-radius: 10px;
    box-shadow: inset 10px 10px 10px #0d0d0d, inset -10px -10px 10px #191919;
    transition: all 0.3s ease;
}

.neomorphism:hover {
    box-shadow: 10px 10px 20px #0d0d0d, -10px -10px 20px #1b1a1a;
}

